<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="//lf-cdn-tos.bytescm.com/obj/static/link_juejin_cn/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>跳转提示-掘金</title>
  <script type="module" crossorigin src="//lf-cdn-tos.bytescm.com/obj/static/link_juejin_cn/assets/index.b7ecafd1.js"></script>
  <link rel="modulepreload" href="//lf-cdn-tos.bytescm.com/obj/static/link_juejin_cn/assets/vendor.d5fc183b.js">
  <link rel="stylesheet" href="//lf-cdn-tos.bytescm.com/obj/static/link_juejin_cn/assets/index.cf57444a.css">
</head>
  <body>
    <div id="app"></div>
    
  </body>
</html>
